@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/mixins";

$primary: $red;

@import "~bulma/sass/utilities/derived-variables";

html {
  scroll-behavior: smooth;
}

.katex-html {
  overflow-x: auto;
  overflow-y: hidden;
}

.table-of-contents ol {
  margin-bottom: 1em;
}

.default-leave-active {
  transition: all .2s linear;
}

.default-enter-active {
  transition: all .25s ease-out;
}

.default-leave-active {
  opacity: 0;
  transform: translateY(20rem);
}

.default-enter {
  opacity: 0;
  transform: translateY(-20rem);
}

.sidebar .button-stick {
  position: sticky;
  margin-top: $gap;
  top: $gap;

  @include mobile {
    display: none;
  }
}

.mobile-button {
  @include tablet {
    display: none !important;
  }
}

@import '~bulma';
