@import "bulma/sass/utilities/initial-variables";

$primary: #D82255;
$text-light: #797676;

@import "bulma/sass/utilities/_all";
@import "~buefy/src/scss/utils/_all";

html {
  scroll-behavior: smooth;
}

.katex-html {
  overflow: visible;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1px 0;
}

.table-of-contents ol {
  margin-bottom: 1em;
}

.default-leave-active {
  transition: all .2s linear;
}

.default-enter-active {
  transition: all .25s ease-out;
}

.default-leave-active {
  opacity: 0;
  transform: translateY(20rem);
}

.default-enter {
  opacity: 0;
  transform: translateY(-20rem);
}

.sidebar .button-stick {
  position: sticky;
  margin-top: $gap;
  top: $gap;
}

input[type="number"] {
  appearance: textfield;
}

.sketch {
  background-color: #FF7070;
  border-radius: $radius-large;
  overflow: hidden;
}

.content figure.is-16by9 {
  margin-left: 0.2em;
  margin-right: 0.2em;
}

.logo {
  margin-right: 1px;
}

.padded {
  padding: 1em;
}

.sidebar-content {
  @include desktop {
    box-shadow: none !important;
  }
}

.is-paddingless-desktop {
  @include desktop {
    padding: 0em !important;
  }
}

.is-paddingless-touch {
  @include touch {
    padding: 0em !important;
  }
}

@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/dropdown.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/title.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/hero.sass";
@import "~buefy/src/scss/components/_tooltip.scss";
@import "~buefy/src/scss/components/_dropdown.scss";
@import "~buefy/src/scss/components/_sidebar.scss";
